---
layout: page
title: Ingegno
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">WE ONDERSTEUNEN  <br> &#38; ONTWIKKELEN  <br> STEM LABO'S </h1>
          <p class="animated fadeInUp">Ons motto: Je kan meer dan je denkt! Ingegno maakt <strong>STEM</strong> producten,  begeleidt, traint en ondersteunt. Onze clienten: scholen, bedrijven, fablabs en particulieren.  </p>
          <h3 class="animated fadeInUp">WIJZE BEZIGHEDEN  <br>  VOOR WIJZE KINDEREN </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Over Ons</h2>
            <p>To form a generation that knows only how to hit a keyboard and produce reports is, to me, a scary prospect. (De Gennes and Badoz 1996 - Fragile Objects)</p>
          </div>
          <p>Wetenschap is moeilijk en saai; techniek is voor nerds! Klinkt het gekend?</p>
          <p>Ingegno wil een impact hebben op de houding van kinderen (en hun ouders) tegenover wetenschap en techniek. Is interesse niet de beste motivator? Ingegno creëert kansen om van wetenschap en techniek te genieten. Het zijn die kansen, waar het maken centraal staat, die zorgen voor het ontwikkelen van wetenschappelijke en technologische geletterdheid.</p>
          <p>Kinderen hebben een natuurlijke wetenschappelijke attitude, we exploiteren die om interesse in techniek en wetenschap te helpen ontwikkelen en een sterke positieve houding aan te nemen. Ingegno laat kinderen ontwerpen, onderzoeken en zelf uitgewerkte en uitdagende werkstukken maken. De kinderen gaan bewust of onbewust taal-, reken-, en natuurkennis praktisch toepassen. Zo bouwen ze ook veel zelfvertrouwen op.</p>
          <p>Ingegno promoot een maker mindset voor iedereen dankzij technisch knutselen (of is dat niet prototyping? )</p>
          <p><em>Be interested in the way things work, intrigued by the world around us, and unafraid to play with new technologies. Tinkering seeds new ideas and inspires exciting projects. Make something. Anything. Or take something apart to find out what’s inside.</em><br>
          <strong>Prof dr. Maria-Cristina Ciocci</strong></p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE LATEN GROTE IDEEEN BLOEIEN</h2>
      <p>Ingegno heeft een berg expertise: zeefdruk, Arduino projecten, wiskunde reeksen, begeleiden bij ontwikkeling van eigen STEM workshops, … . Stel een vraag, we helpen je graag verder met je specifieke nood.</p>
      <p>Hebt u een vraag naar een persoonlijke wetenschaps en techniek coach? Bent u op zoek naar een duurzaam resultaat en begeleiding bij het verankeren van techniek in uw lesaanbod of ondersteuning van leerkrachten? Dan kan Ingegno u helpen. Ingegno biedt advies over hoe u dankzij techniek en wetenschap kinderen kunt stimuleren om nieuwe vaardigheden aan te leren, oplossingsgericht te werken en creatief te denken.</p>
      <a href="{{ site.baseurl }}/realisaties" class="btn btn-view-works">Zie Realisaties</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Diensten - Ingegno Maker Space</h2>
        <p>Ingegno is de uitbater van de Ingegno Maker Space te Drongen, een co-working plaats te Gent met bijhorende maker space. Ingegno levert volgende diensten:</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Co-working</h4>
          <p>Wil je van de Ingegno Maker Space je werkplek maken? Contacteer ons voor info rond beschikbaarheid.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Machines gebruiken of huren</h4>
          <p>De toestellen in de Maker Space kunnen per uur gehuurd worden. Lasercutter, 3D printer, plotter, CNC en meer</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-android-playstore"></i>
          <h4>Shop</h4>
          <p>Een van onze kits kopen? Materialen voor je maak plek? Dat kan!</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Lezingen, teambuilding</h4>
          <p>Prof. dr. Maria-Cristina Ciocci verzorgt lezingen, en teambuildings rond maken, co-creatie, fablabs. Prijzen op aanvraag</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Luisterend oor</h4>
          <p>Je activiteit doorlichten? We analyzeren, onderzoeken en stellen een plan van aanpak op. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Ontwikkeling</h4>
          <p>We ondersteunen en begeleiden de ontwikkeling van nieuwe  STEM labo's en STEM materialen.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="{{ site.baseurl }}/opleiding.html"><i class="ion-planet"></i></a>
          <h4>Opleiding</h4>
          <p>We ontwikkelen opleidingen, en geven opleidingen. Hoe een eigen maak plek opzetten? Hoe basis physical computing aanleren aan kinderen? Hoe in de basisschool design, elektronica, computing introduceren? <a href="{{ site.baseurl }}/opleiding.html">Bekijk ons aanbod</a></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Netwerk</h4>
          <p>Ingegno ondersteunt het open netwerk rond fablabs met gratis acties, materiaal beschikbaar onder Creative Commons licentie, gratis software, ondersteuning van openlabs, en meer. Samen voor een betere wereld!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Clients Logo Section Start -->
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h4>Partners en Sponsors</h4>
          <div id="clients-logo" class="owl-carousel">
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/creatievestem_logo.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/logo_vlaio.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/make_logo.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/budalab_logo.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/EC-logo.jpg" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/logo_vlaio.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/creatievestem_logo.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/budalab_logo.png" alt="Features">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include call2action.html %}

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Enkele feiten over ons</h2>
        <p>Ingegno is constant in de weer om STEM op de kaart te zetten.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
