---
layout: page
title: Ons Werk
permalink: /realisaties/
---

    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Een overzicht van onze projecten.</h1>
                    <p>Grasduin door enkele van onze realisaties</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">Everything</li>
                    <li class="filter" data-filter=".Kits">Kits</li>
                    <li class="filter" data-filter=".Projects">Projects</li>
                    <li class="filter" data-filter=".Apps">Apps</li>
                    <li class="filter" data-filter=".Manuals">Manuals</li>
                </ul>
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                  {% assign filtered_realisations = site.realisations | where: "type","kit" %}
                  {% for work in filtered_realisations %}
                    <li class="mix Kits">
                      <a href={{ work.url }}>
                        <img src="{{ work.thumb }}" alt="">
                        <div class="overly">
                          <div class="position-center">
                            <h2>{{ work.name }}</h2>
                            <p>{{ work.short_excerpt }}</p>

                          </div>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                  {% assign filtered_realisations = site.realisations | where: "type","project" %}
                  {% for work in filtered_realisations %}
                    <li class="mix Projects">
                      <a href={{ work.url }}>
                        <img src="{{ work.thumb }}" alt="">
                        <div class="overly">
                          <div class="position-center">
                            <h2>{{ work.name }}</h2>
                            <p>{{ work.short_excerpt }}</p>

                          </div>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                  {% assign filtered_realisations = site.realisations | where: "type","app" %}
                  {% for work in filtered_realisations %}
                    <li class="mix Apps">
                      <a href={{ work.url }}>
                        <img src="{{ work.thumb }}" alt="">
                        <div class="overly">
                          <div class="position-center">
                            <h2>{{ work.name }}</h2>
                            <p>{{ work.short_excerpt }}</p>

                          </div>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                  {% assign filtered_realisationsm = site.realisations | where: "type","manual" %}
                  {% for work in filtered_realisationsm %}
                    <li class="mix Manuals">
                      <a href={{ work.url }}>
                        <img src="{{ work.thumb }}" alt="">
                        <div class="overly">
                          <div class="position-center">
                            <h2>{{ work.name }}</h2>
                            <p>{{ work.short_excerpt }}</p>

                          </div>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Ingegno ontwikkelt inspirerende STEM-Ervaringen.</h2>
          <p>Lees meer over wat we doen, en belangrijker, hoe ze dat doen. Oordeel zelf, en schrijf ons met jou vraag of opmerking.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Vertel Ons Jou Verhaal</a>
        </div>
      </div>
    </div>
  </div>
</section>
