
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We ontwikkelen prachtige STEM labo's.</h2>
          <p>Lees meer over wat we doen en wat onze filosofie is. Beoordeel onze resultaten zelf, en bezoek de Ingegno Maker Space. Ingegno is een erkende STEM-academie.</p>
            <p><img src="{{ site.baseurl }}/img/stem-academie.png" width="350px"></p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Contacteer ons</a> &nbsp; 
          <a class="btn btn-default btn-call-to-action" href="https://decreatievestem.be/voor-jongeren/" target="_blank" >Onze STEM clubs en kampen ism DCS</a>
        </div>
      </div>
    </div>
  </div>
</section>
