---
layout: default
---

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2 >{{ page.title }} </h2>
            {% if page.quote %}
              <p>{{ page.quote}}</p>
            {% endif %}
          </div>
            {{ content }}
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ page.image }}" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- Slider Start -->
<section id="slider" style="background:url({{ page.image }}) no-repeat; background-size: cover; background-attachment: fixed; background-position: 10% 0%;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">{{ page.title }} </h1>
          <p class="animated fadeInUp"> {{ page.long_excerpt }}
        </div>
      </div>
    </div>
  </div>
</section>

{% include call2action.html %}
